* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgb(149, 109, 165);
}

#canvas1 {
    border: 3px solid rgb(98, 65, 110);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(195, 141, 214, 0.945);
    max-width: 90%;
    max-height: 90%;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  